@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: rgb(98, 225, 98);
  --secondary-color: white;
  --terciary-color: rgb(134, 235, 134);
}

a {
  text-decoration-line: none;
  color: var(--secondary-color);
}

a:hover {
  color: black;
}

#header {
  display: flex;
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--secondary-color);
}

#header-logo {
  width: 25%;
}

#header-nav {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#hamburguer-menu {
  width: 30px;
  background-color: blue;
}

@media (min-width: 600px) {
  #hamburguer-menu {
    display: none;
  }
}

@media (max-width: 600px) {
  #header-nav {
    display: none;
  }

  #header {
    justify-content: space-between;
  }
}